@import "variables.scss";

.header_wrapper {
    padding: 2.5rem;
}
.desktop_nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigation {
    .nav_item {
        position:relative;
        padding:15px;
        border-top:3px solid #333;
        border-left:3px solid #333;
        border-bottom:3px solid #333;
        display:flex;
        flex-direction:column;
        justify-content: center;
        &:last-child {
            border-right: 3px solid #333;
        }
        a {
            position: relative;
            font-family: 'Amiamie Round';
            font-style: italic;
            text-transform: uppercase;
            letter-spacing: 0.025em;
        }
    }
    .nav_link_feature_color {
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        border-radius: 45%;

    }
}

.dropdown_wrapper button {
    position:relative;
    font-family: 'Amiamie Round';
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.header_menu {
    @include mobile {
        
    }
}


.dropdown_ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999999999999999999999999999;
    // background: springgreen;
    border: solid;
    li {
        border-color:black;
    
        &:hover {
            a{
                text-decoration: underline;
            }
       
            
        }
    }
}

.fixed_menu {
    position: fixed;
    bottom: 4rem;
    z-index: 99999999;
}

// .desktop_nav_wrapper {
//     @include mobile {
//         display:none !important;
//     }
// }

// MOBILE HEADER

.mobile_nav_wrapper {
    display:none;
    flex-direction:column;
    width:100%;
    .mobile_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }
    @include mobile {
        display:flex;
        .header_menu {
            display:none;
        }
    }
}

#hamburger:checked + .mobile_overlay{
    display:block;
}


// .mobile_header_container {
//     @include mobile {
//         display:flex;
//         .header_menu {
//             display:none;
//         }
//     }

// }



// NEW MOBILE MENU STYLE/FUNCTION ///// CLEANING CODE UP 

.desktop_nav_wrapper {
    @include mobile {
        display:none;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.mobile_menu_icon {
    display:none;
    @include mobile {
        display:block;
    }
}

.mobile_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index:9999999;
    .og_header {
        flex-direction:column;
        .mobile_header_container ul {
            flex-direction:column;
        }
    }
}

.menu_active {
    display:flex !important;
    ul {
        flex-direction:column;
        width:100%;
        align-items:end;
        .nav_item {
            border:none !important;
            padding:0;
            margin:10px;
            .nav_link_feature_color{
                background: none !important;
            }
            a {
                color: black!important;
            }
        }
    }
}
