.masonry-container-wrapper {
    padding: 0 2.5rem;
    .masonry-item {
        margin-top: 4rem; /* might need to change this to nth-child */
    }

.masonry-container {
    display:flex;
    gap: 25px;
    div:nth-child(1) {
        margin-top:0rem;
    }

}
}

// remove this element

// .circle {
//     position: absolute;
//     /* width: 150px; */
//     /* height: 150px; */
//     background-color: #A5D6A7;
//     border-radius: 50%;
//     /* top: -50px; */
//     /* left: -50px; */
//     z-index: 99999999;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     background-color: #B2E59E; /* Adjust color */
//     clip-path: ellipse(50% 40% at 50% 50%);
//     padding: 40px;
// }
.post_container {
    .post_title_wrapper {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    inline-size: fit-content;
    max-width:85%;
    
      
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 35px;
        color: black;
        border-radius: 45%;
        &:hover {
            text-decoration: underline;
        }
      }
    }
}

.post_image_wrapper {
    border: 3px solid black;
    img {
        border-radius: 45%;
    }
}

.post_text_wrapper {
    border: 3px solid;
    border-top:0px solid;
    padding:0.5rem;
    max-width:95%;
}

// HERO STYLES

.hero_wrapper {
    position:relative;
    text-align:center;
    .hero_content {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        padding: 35px;
        h1 {
            line-height: 1.1;
        }
    }
}


  