.masonry-container-wrapper {
    padding: 0 2.5rem;
    .masonry-item {
        margin-top: 4rem; /* might need to change this to nth-child */
    }

.masonry-container {
    display:flex;
    gap: 25px;
    div:nth-child(1) {
        margin-top:0rem;
    }

}
}

// remove this element

// .circle {
//     position: absolute;
//     /* width: 150px; */
//     /* height: 150px; */
//     background-color: #A5D6A7;
//     border-radius: 50%;
//     /* top: -50px; */
//     /* left: -50px; */
//     z-index: 99999999;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     background-color: #B2E59E; /* Adjust color */
//     clip-path: ellipse(50% 40% at 50% 50%);
//     padding: 40px;
// }
.post_container {
    .post_title_wrapper {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    inline-size: fit-content;
    max-width:85%;
    
      
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 35px;
        color: black;
        &:hover {
            text-decoration: underline;
        }
      }
    }
}

.shape {
    clip-path: shape(from 35.72% 99.92%,curve by -35.49% -42.81% with -22.46% -1.93%/-33.68% -15.51%,curve by 3.15% -32.2% with -0.76% -11.82%/0.4% -23.72%,curve by 28.77% -24.44% with 4.69% -14.37%/13.44% -21.82%,curve by 35.67% 0% with 3.66% -0.62%/31.85% -0.62%,curve by 26.7% 19.03% with 13.28% 2.21%/21.45% 8%,curve by 5.27% 37.4% with 4.24% 8.86%/6.16% 22.61%,curve by -25.05% 41.02% with -1.41% 22.89%/-9.51% 36.16%,curve by -23.17% 2.07% with -5.89% 1.83%/-7.63% 2%,curve by -15.85% -0.07% with -7.92% 0.03%/-15.05% 0%,close);
}

.post_image_wrapper {
    border: 3px solid black;
    img {
        clip-path: shape(from 35.72% 99.92%,curve by -35.49% -42.81% with -22.46% -1.93%/-33.68% -15.51%,curve by 3.15% -32.2% with -0.76% -11.82%/0.4% -23.72%,curve by 28.77% -24.44% with 4.69% -14.37%/13.44% -21.82%,curve by 35.67% 0% with 3.66% -0.62%/31.85% -0.62%,curve by 26.7% 19.03% with 13.28% 2.21%/21.45% 8%,curve by 5.27% 37.4% with 4.24% 8.86%/6.16% 22.61%,curve by -25.05% 41.02% with -1.41% 22.89%/-9.51% 36.16%,curve by -23.17% 2.07% with -5.89% 1.83%/-7.63% 2%,curve by -15.85% -0.07% with -7.92% 0.03%/-15.05% 0%,close);
    }
}

.post_text_wrapper {
    border: 3px solid;
    border-top:0px solid;
    padding:0.5rem;
    max-width:95%;
}

// HERO STYLES

.hero_wrapper {
    position:relative;
    text-align:center;
    .hero_content {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        padding: 35px;
        h1 {
            line-height: 1.1;
        }
    }
}


  