.masonry-container-wrapper {
    padding: 0 2.5rem;
}
.masonry-container {
    display:flex;
    gap: 10px;
}
.masonry-item {
    padding-top: 4rem; /* might need to change this to nth-child */
}
// remove this element

// .circle {
//     position: absolute;
//     /* width: 150px; */
//     /* height: 150px; */
//     background-color: #A5D6A7;
//     border-radius: 50%;
//     /* top: -50px; */
//     /* left: -50px; */
//     z-index: 99999999;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     background-color: #B2E59E; /* Adjust color */
//     clip-path: ellipse(50% 40% at 50% 50%);
//     padding: 40px;
// }
.homepage_post_container {
    .post_title_wrapper {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    inline-size: fit-content;
    
      
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        padding: 35px;
        color: black;
        border-bottom-left-radius: 50%;
        border-radius: 45%;
      }
    }
}

.homepage_post_image_wrapper {
    border: 3px solid black;
    img {
        border-radius: 50%;
    }
}


  