.post_container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .post_image {
        padding:1vw;
        width: 100%;
        img {
            width:100%;
        }
    }
    .post_content {
        padding:1vw;
        width:100%;
        .post_text_wrapper{
            border:3px solid;
            max-width:100%;
        }
    }
    @include mobile {
        flex-direction:column-reverse;
    }
}

.syncro_wrapper {
    .artist, .platform {
        position: relative;
        border:3px solid;
        &:first-of-type{
            border-bottom:0;
        }
        .title {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            display:flex;
            justify-content:center;
            align-items:center;
            h1 {
                font-size:4em;
                &:hover {
                   
                }
                a {
                    color: #000;
                }
            }
        }
        &:hover {
            .title {
                background: rgba(0, 0, 0, 0.3);
                transition: 0.5s ease-in;
            }
            h1 {
                text-decoration: underline;
                transition:0.5s ease-in;
            }
        }
        .post_image_wrapper {
                border: 0px;
        }
    }

}