<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.notdef.001</key>
    <string>_notdef.001.glif</string>
    <key>.notdef.002</key>
    <string>_notdef.002.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>A_E</key>
    <string>A__E_.glif</string>
    <key>A_O</key>
    <string>A__O_.glif</string>
    <key>A_U_L_A</key>
    <string>A__U__L__A_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Afem</key>
    <string>A_fem.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Agravefem</key>
    <string>A_gravefem.glif</string>
    <key>Amasc</key>
    <string>A_masc.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>BBB</key>
    <string>B_B_B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_H</key>
    <string>C__H_.glif</string>
    <key>C_Q</key>
    <string>C__Q_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Cfem</key>
    <string>C_fem.glif</string>
    <key>Cmasc</key>
    <string>C_masc.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D_U_D_E_L_A</key>
    <string>D__U__D__E__L__A_.glif</string>
    <key>Dfem</key>
    <string>D_fem.glif</string>
    <key>Dmasc</key>
    <string>D_masc.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E_A</key>
    <string>E__A_.glif</string>
    <key>E_S.001</key>
    <string>E__S_.001.glif</string>
    <key>E_S_S</key>
    <string>E__S__S_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Efem</key>
    <string>E_fem.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Emasc</key>
    <string>E_masc.glif</string>
    <key>Enb</key>
    <string>E_nb.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F_V</key>
    <string>F__V_.glif</string>
    <key>Ffem</key>
    <string>F_fem.glif</string>
    <key>Fmasc</key>
    <string>F_masc.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G_U</key>
    <string>G__U_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>HandPointingBottom</key>
    <string>H_andP_ointingB_ottom.glif</string>
    <key>HandPointingLeft</key>
    <string>H_andP_ointingL_eft.glif</string>
    <key>HandPointingRight</key>
    <string>H_andP_ointingR_ight.glif</string>
    <key>HandPointingTop</key>
    <string>H_andP_ointingT_op.glif</string>
    <key>Hfem</key>
    <string>H_fem.glif</string>
    <key>Hmasc</key>
    <string>H_masc.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idieresisfem</key>
    <string>I_dieresisfem.glif</string>
    <key>Ifem</key>
    <string>I_fem.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Imasc</key>
    <string>I_masc.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L_E</key>
    <string>L__E_.glif</string>
    <key>L_E_U</key>
    <string>L__E__U_.glif</string>
    <key>L_L</key>
    <string>L__L_.glif</string>
    <key>L_U</key>
    <string>L__U_.glif</string>
    <key>Lfem</key>
    <string>L_fem.glif</string>
    <key>Lmasc</key>
    <string>L_masc.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M_P</key>
    <string>M__P_.glif</string>
    <key>Mfem</key>
    <string>M_fem.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N_N</key>
    <string>N__N_.glif</string>
    <key>Nfem</key>
    <string>N_fem.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>O_F</key>
    <string>O__F_.glif</string>
    <key>O_Idieresis</key>
    <string>O__I_dieresis.glif</string>
    <key>O_Idieresis.001</key>
    <string>O__I_dieresis.001.glif</string>
    <key>O_T</key>
    <string>O__T_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Omasc</key>
    <string>O_masc.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P_M</key>
    <string>P__M_.glif</string>
    <key>Pmasc</key>
    <string>P_masc.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q-queue</key>
    <string>Q_-queue.glif</string>
    <key>Qfem</key>
    <string>Q_fem.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R_I</key>
    <string>R__I_.glif</string>
    <key>R_S</key>
    <string>R__S_.glif</string>
    <key>Rfem</key>
    <string>R_fem.glif</string>
    <key>Rmasc</key>
    <string>R_masc.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S_C</key>
    <string>S__C_.glif</string>
    <key>S_L</key>
    <string>S__L_.glif</string>
    <key>S_S</key>
    <string>S__S_.glif</string>
    <key>S_T</key>
    <string>S__T_.glif</string>
    <key>Sfem</key>
    <string>S_fem.glif</string>
    <key>Smasc</key>
    <string>S_masc.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_T</key>
    <string>T__T_.glif</string>
    <key>Tfem</key>
    <string>T_fem.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U_L</key>
    <string>U__L_.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ufem</key>
    <string>U_fem.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Umasc</key>
    <string>U_masc.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Vfem</key>
    <string>V_fem.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W_W_W</key>
    <string>W__W__W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X_C</key>
    <string>X__C_.glif</string>
    <key>X_L</key>
    <string>X__L_.glif</string>
    <key>X_S</key>
    <string>X__S_.glif</string>
    <key>Xmasc</key>
    <string>X_masc.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a-liga</key>
    <string>a-liga.glif</string>
    <key>a_e</key>
    <string>a_e.glif</string>
    <key>a_o</key>
    <string>a_o.glif</string>
    <key>a_u_l_a</key>
    <string>a_u_l_a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>accolade-bout</key>
    <string>accolade-bout.glif</string>
    <key>accolade-bout.001</key>
    <string>accolade-bout.001.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>afem</key>
    <string>afem.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>agravefem</key>
    <string>agravefem.glif</string>
    <key>amasc</key>
    <string>amasc.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterisks</key>
    <string>asterisks.glif</string>
    <key>asterism</key>
    <string>asterism.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>barreft</key>
    <string>barreft.glif</string>
    <key>boutW</key>
    <string>boutW_.glif</string>
    <key>bout_asterisk</key>
    <string>bout_asterisk.glif</string>
    <key>bout_asterisk.001</key>
    <string>bout_asterisk.001.glif</string>
    <key>bout_ff</key>
    <string>bout_ff.glif</string>
    <key>boutk</key>
    <string>boutk.glif</string>
    <key>boutw</key>
    <string>boutw.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.case</key>
    <string>braceleft.case.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright.case</key>
    <string>braceright.case.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.case</key>
    <string>bracketleft.case.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright.case</key>
    <string>bracketright.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_h</key>
    <string>c_h.glif</string>
    <key>c_q</key>
    <string>c_q.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cfem</key>
    <string>cfem.glif</string>
    <key>circumflexbelowcomb</key>
    <string>circumflexbelowcomb.glif</string>
    <key>circumflexbelowcomb.case</key>
    <string>circumflexbelowcomb.case.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.case</key>
    <string>circumflexcomb.case.glif</string>
    <key>cmasc</key>
    <string>cmasc.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.case</key>
    <string>colon.case.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d_u_d_e_l_a</key>
    <string>d_u_d_e_l_a.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dfem</key>
    <string>dfem.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dmasc</key>
    <string>dmasc.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotbelowcomb.case</key>
    <string>dotbelowcomb.case.glif</string>
    <key>downArrow</key>
    <string>downA_rrow.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e_a</key>
    <string>e_a.glif</string>
    <key>e_s.001</key>
    <string>e_s.001.glif</string>
    <key>e_s_s</key>
    <string>e_s_s.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>eclat-fleche</key>
    <string>eclat-fleche.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>efem</key>
    <string>efem.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>emasc</key>
    <string>emasc.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.case</key>
    <string>emdash.case.glif</string>
    <key>empattement_bas</key>
    <string>empattement_bas.glif</string>
    <key>empattement_bas.001</key>
    <string>empattement_bas.001.glif</string>
    <key>empattement_bas_long</key>
    <string>empattement_bas_long.glif</string>
    <key>empattement_bas_long.001</key>
    <string>empattement_bas_long.001.glif</string>
    <key>empattement_decale</key>
    <string>empattement_decale.glif</string>
    <key>empattement_decale.001</key>
    <string>empattement_decale.001.glif</string>
    <key>empattement_haut</key>
    <string>empattement_haut.glif</string>
    <key>empattement_haut.001</key>
    <string>empattement_haut.001.glif</string>
    <key>empattement_montante</key>
    <string>empattement_montante.glif</string>
    <key>enb</key>
    <string>enb.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.case</key>
    <string>endash.case.glif</string>
    <key>epaule</key>
    <string>epaule.glif</string>
    <key>epaule-n</key>
    <string>epaule-n.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>exclamdown.case</key>
    <string>exclamdown.case.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f-haut</key>
    <string>f-haut.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_enb</key>
    <string>f_f_enb.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_t</key>
    <string>f_f_t.glif</string>
    <key>f_ffem</key>
    <string>f_ffem.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>f_v</key>
    <string>f_v.glif</string>
    <key>ffem</key>
    <string>ffem.glif</string>
    <key>ffut</key>
    <string>ffut.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>fliga</key>
    <string>fliga.glif</string>
    <key>fliga2</key>
    <string>fliga2.glif</string>
    <key>fmasc</key>
    <string>fmasc.glif</string>
    <key>fmasc_vfem</key>
    <string>fmasc_vfem.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>fpoint</key>
    <string>fpoint.glif</string>
    <key>fut</key>
    <string>fut.glif</string>
    <key>fut-long</key>
    <string>fut-long.glif</string>
    <key>fut_lien</key>
    <string>fut_lien.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_u</key>
    <string>g_u.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.case</key>
    <string>guilsinglleft.case.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>guilsinglright.case</key>
    <string>guilsinglright.case.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>heavyasterisk</key>
    <string>heavyasterisk.glif</string>
    <key>hfem</key>
    <string>hfem.glif</string>
    <key>hmasc</key>
    <string>hmasc.glif</string>
    <key>hpont</key>
    <string>hpont.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.case</key>
    <string>hyphen.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idieresisfem</key>
    <string>idieresisfem.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ifem</key>
    <string>ifem.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>imasc</key>
    <string>imasc.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l_e</key>
    <string>l_e.glif</string>
    <key>l_e_u</key>
    <string>l_e_u.glif</string>
    <key>l_enb.001</key>
    <string>l_enb.001.glif</string>
    <key>l_l</key>
    <string>l_l.glif</string>
    <key>l_u</key>
    <string>l_u.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lfem</key>
    <string>lfem.glif</string>
    <key>lmasc</key>
    <string>lmasc.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>lowasterisk</key>
    <string>lowasterisk.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m_p</key>
    <string>m_p.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>mfem</key>
    <string>mfem.glif</string>
    <key>mi_barre_T</key>
    <string>mi_barre_T_.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n_enb.001</key>
    <string>n_enb.001.glif</string>
    <key>n_n</key>
    <string>n_n.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nfem</key>
    <string>nfem.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>northEastArrow</key>
    <string>northE_astA_rrow.glif</string>
    <key>northWestArrow</key>
    <string>northW_estA_rrow.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o_f</key>
    <string>o_f.glif</string>
    <key>o_idieresis</key>
    <string>o_idieresis.glif</string>
    <key>o_idieresis.001</key>
    <string>o_idieresis.001.glif</string>
    <key>o_t</key>
    <string>o_t.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>omasc</key>
    <string>omasc.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p_m</key>
    <string>p_m.glif</string>
    <key>panse</key>
    <string>panse.glif</string>
    <key>panse_adq</key>
    <string>panse_adq.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.case</key>
    <string>parenleft.case.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright.case</key>
    <string>parenright.case.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.case</key>
    <string>periodcentered.case.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plume-fleche</key>
    <string>plume-fleche.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>pmasc</key>
    <string>pmasc.glif</string>
    <key>point_ij</key>
    <string>point_ij.glif</string>
    <key>pointij</key>
    <string>pointij.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>qfem</key>
    <string>qfem.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>queueQ</key>
    <string>queueQ_.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_i</key>
    <string>r_i.glif</string>
    <key>r_s</key>
    <string>r_s.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rfem</key>
    <string>rfem.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>rmasc</key>
    <string>rmasc.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s-liga</key>
    <string>s-liga.glif</string>
    <key>s_c</key>
    <string>s_c.glif</string>
    <key>s_c.001</key>
    <string>s_c.001.glif</string>
    <key>s_enb.001</key>
    <string>s_enb.001.glif</string>
    <key>s_l</key>
    <string>s_l.glif</string>
    <key>s_s</key>
    <string>s_s.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sectionbout</key>
    <string>sectionbout.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>sfem</key>
    <string>sfem.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>smasc</key>
    <string>smasc.glif</string>
    <key>southEastArrow</key>
    <string>southE_astA_rrow.glif</string>
    <key>southWestArrow</key>
    <string>southW_estA_rrow.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_enb.001</key>
    <string>t_enb.001.glif</string>
    <key>t_liga</key>
    <string>t_liga.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>tfem</key>
    <string>tfem.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u_l</key>
    <string>u_l.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ufem</key>
    <string>ufem.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>umasc</key>
    <string>umasc.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>upArrow</key>
    <string>upA_rrow.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>vfem</key>
    <string>vfem.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_bout</key>
    <string>w_bout.glif</string>
    <key>w_w_w</key>
    <string>w_w_w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_c</key>
    <string>x_c.glif</string>
    <key>x_l</key>
    <string>x_l.glif</string>
    <key>x_s</key>
    <string>x_s.glif</string>
    <key>xmasc</key>
    <string>xmasc.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.tf</key>
    <string>zero.tf.glif</string>
  </dict>
</plist>
