<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3316</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Italic</string>
        <key>tag</key>
        <string>ital</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>400</integer>
      <integer>1</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>active</key>
        <false/>
        <key>name</key>
        <string>glyphOrder</string>
        <key>value</key>
        <array/>
      </dict>
      <dict>
        <key>active</key>
        <false/>
        <key>name</key>
        <string>panose</string>
        <key>value</key>
        <array>
          <integer>2</integer>
          <integer>0</integer>
          <integer>0</integer>
          <integer>0</integer>
          <integer>5</integer>
          <integer>0</integer>
          <integer>0</integer>
          <integer>0</integer>
          <integer>0</integer>
          <integer>3</integer>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>Enforce Compatibility Check</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>77A919B5-A12B-4FB4-B82B-A665849CE577</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.iconName</key>
    <string>SemiCondensed</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>Italic</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Atilde</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>AE</string>
      <string>W_W_W</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>atilde</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>germandbls</string>
      <string>longs</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>ae</string>
      <string>f_b</string>
      <string>f_f</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_i</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_f_l</string>
      <string>f_f_t</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>f_t</string>
      <string>w_w_w</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>six.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>space</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>uni0000</string>
      <string>uni000D</string>
      <string>.notdef</string>
      <string>heavyasterisk</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>asterisks</string>
      <string>asterism</string>
      <string>lowasterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>HandPointingLeft</string>
      <string>HandPointingTop</string>
      <string>HandPointingRight</string>
      <string>HandPointingBottom</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>upArrow</string>
      <string>northEastArrow</string>
      <string>rightArrow</string>
      <string>southEastArrow</string>
      <string>downArrow</string>
      <string>southWestArrow</string>
      <string>leftArrow</string>
      <string>northWestArrow</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>dotbelowcomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>circumflexbelowcomb</string>
      <string>dieresiscomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>tildecomb.case</string>
      <string>dotbelowcomb.case</string>
      <string>circumflexbelowcomb.case</string>
      <string>idieresisfem</string>
      <string>Afem</string>
      <string>Agravefem</string>
      <string>Amasc</string>
      <string>Cfem</string>
      <string>Cmasc</string>
      <string>Dfem</string>
      <string>Dmasc</string>
      <string>afem</string>
      <string>agravefem</string>
      <string>amasc</string>
      <string>cfem</string>
      <string>cmasc</string>
      <string>dfem</string>
      <string>dmasc</string>
      <string>Efem</string>
      <string>Emasc</string>
      <string>Ffem</string>
      <string>Fmasc</string>
      <string>Hfem</string>
      <string>Hmasc</string>
      <string>efem</string>
      <string>emasc</string>
      <string>ffem</string>
      <string>fmasc</string>
      <string>hfem</string>
      <string>hmasc</string>
      <string>Ifem</string>
      <string>Imasc</string>
      <string>Lfem</string>
      <string>Lmasc</string>
      <string>ifem</string>
      <string>imasc</string>
      <string>lfem</string>
      <string>lmasc</string>
      <string>Mfem</string>
      <string>Nfem</string>
      <string>Omasc</string>
      <string>Pmasc</string>
      <string>mfem</string>
      <string>nfem</string>
      <string>omasc</string>
      <string>pmasc</string>
      <string>Qfem</string>
      <string>Rfem</string>
      <string>Rmasc</string>
      <string>Sfem</string>
      <string>Smasc</string>
      <string>Tfem</string>
      <string>qfem</string>
      <string>rfem</string>
      <string>rmasc</string>
      <string>sfem</string>
      <string>smasc</string>
      <string>tfem</string>
      <string>Ufem</string>
      <string>Umasc</string>
      <string>Vfem</string>
      <string>Xmasc</string>
      <string>ufem</string>
      <string>umasc</string>
      <string>vfem</string>
      <string>xmasc</string>
      <string>f_ffem</string>
      <string>fmasc_vfem</string>
      <string>Idieresisfem</string>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
      <string>parenleft.case</string>
      <string>parenright.case</string>
      <string>braceleft.case</string>
      <string>braceright.case</string>
      <string>bracketleft.case</string>
      <string>bracketright.case</string>
      <string>guillemetleft.case</string>
      <string>guillemetright.case</string>
      <string>guilsinglleft.case</string>
      <string>guilsinglright.case</string>
      <string>colon.case</string>
      <string>exclamdown.case</string>
      <string>questiondown.case</string>
      <string>periodcentered.case</string>
      <string>Enb</string>
      <string>enb</string>
      <string>L_E_U</string>
      <string>l_e_u</string>
      <string>A_E</string>
      <string>A_O</string>
      <string>A_U_L_A</string>
      <string>a_e</string>
      <string>a_o</string>
      <string>a_u_l_a</string>
      <string>C_H</string>
      <string>C_Q</string>
      <string>c_h</string>
      <string>c_q</string>
      <string>D_U_D_E_L_A</string>
      <string>d_u_d_e_l_a</string>
      <string>E_A</string>
      <string>E_S_S</string>
      <string>e_a</string>
      <string>e_s_s</string>
      <string>F_V</string>
      <string>f_f_enb</string>
      <string>f_v</string>
      <string>G_U</string>
      <string>g_u</string>
      <string>L_E</string>
      <string>L_L</string>
      <string>L_U</string>
      <string>l_e</string>
      <string>l_l</string>
      <string>l_u</string>
      <string>M_P</string>
      <string>m_p</string>
      <string>N_N</string>
      <string>n_n</string>
      <string>O_F</string>
      <string>O_T</string>
      <string>O_Idieresis</string>
      <string>o_f</string>
      <string>o_t</string>
      <string>o_idieresis</string>
      <string>P_M</string>
      <string>p_m</string>
      <string>R_I</string>
      <string>R_S</string>
      <string>r_i</string>
      <string>r_s</string>
      <string>S_C</string>
      <string>S_L</string>
      <string>S_S</string>
      <string>S_T</string>
      <string>s_c</string>
      <string>s_l</string>
      <string>s_s</string>
      <string>s_t</string>
      <string>T_T</string>
      <string>t_t</string>
      <string>U_L</string>
      <string>u_l</string>
      <string>X_C</string>
      <string>X_L</string>
      <string>X_S</string>
      <string>x_c</string>
      <string>x_l</string>
      <string>x_s</string>
      <string>E_S.001</string>
      <string>O_Idieresis.001</string>
      <string>e_s.001</string>
      <string>l_enb.001</string>
      <string>n_enb.001</string>
      <string>o_idieresis.001</string>
      <string>s_c.001</string>
      <string>s_enb.001</string>
      <string>t_enb.001</string>
      <string>w_bout</string>
      <string>bout_asterisk</string>
      <string>bout_asterisk.001</string>
      <string>t_liga</string>
      <string>BBB</string>
      <string>Q-queue</string>
      <string>a-liga</string>
      <string>accolade-bout</string>
      <string>barreft</string>
      <string>boutW</string>
      <string>bout_ff</string>
      <string>boutk</string>
      <string>boutw</string>
      <string>eclat-fleche</string>
      <string>empattement_bas</string>
      <string>empattement_bas_long</string>
      <string>empattement_decale</string>
      <string>empattement_haut</string>
      <string>empattement_montante</string>
      <string>epaule</string>
      <string>epaule-n</string>
      <string>f-haut</string>
      <string>ffut</string>
      <string>fliga</string>
      <string>fliga2</string>
      <string>fpoint</string>
      <string>fut</string>
      <string>fut-long</string>
      <string>fut_lien</string>
      <string>hpont</string>
      <string>mi_barre_T</string>
      <string>panse</string>
      <string>panse_adq</string>
      <string>plume-fleche</string>
      <string>point_ij</string>
      <string>pointij</string>
      <string>queueQ</string>
      <string>s-liga</string>
      <string>sectionbout</string>
      <string>accolade-bout.001</string>
      <string>empattement_bas.001</string>
      <string>empattement_bas_long.001</string>
      <string>empattement_decale.001</string>
      <string>empattement_haut.001</string>
      <string>.notdef.001</string>
      <string>.notdef.002</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>A_E</key>
      <string>uF1010</string>
      <key>A_O</key>
      <string>uF1030</string>
      <key>A_U_L_A</key>
      <string>uF1050</string>
      <key>Afem</key>
      <string>uF8100</string>
      <key>Agravefem</key>
      <string>uF8101</string>
      <key>Amasc</key>
      <string>uF8110</string>
      <key>C_H</key>
      <string>uF1410</string>
      <key>C_Q</key>
      <string>uF1440</string>
      <key>Cfem</key>
      <string>uF8180</string>
      <key>Cmasc</key>
      <string>uF8190</string>
      <key>D_U_D_E_L_A</key>
      <string>uF1630</string>
      <key>Dfem</key>
      <string>uF81C0</string>
      <key>Dmasc</key>
      <string>uF81D0</string>
      <key>E_A</key>
      <string>uF1810</string>
      <key>E_S_S</key>
      <string>uF18E0</string>
      <key>Efem</key>
      <string>uF8300</string>
      <key>Emasc</key>
      <string>uF8310</string>
      <key>Enb</key>
      <string>uF1800</string>
      <key>F_V</key>
      <string>uF2050</string>
      <key>Ffem</key>
      <string>uF8340</string>
      <key>Fmasc</key>
      <string>uF8350</string>
      <key>G_U</key>
      <string>uF2210</string>
      <key>HandPointingBottom</key>
      <string>uni261F</string>
      <key>HandPointingLeft</key>
      <string>uni261C</string>
      <key>HandPointingRight</key>
      <string>uni261E</string>
      <key>HandPointingTop</key>
      <string>uni261D</string>
      <key>Hfem</key>
      <string>uF83C0</string>
      <key>Hmasc</key>
      <string>uF83D0</string>
      <key>Ifem</key>
      <string>uF8500</string>
      <key>Imasc</key>
      <string>uF8510</string>
      <key>L_E</key>
      <string>uF3210</string>
      <key>L_L</key>
      <string>uF3220</string>
      <key>L_U</key>
      <string>uF3250</string>
      <key>Lfem</key>
      <string>uF85C0</string>
      <key>Lmasc</key>
      <string>uF85D0</string>
      <key>M_P</key>
      <string>uF3410</string>
      <key>Mfem</key>
      <string>uF8700</string>
      <key>N_N</key>
      <string>uF3640</string>
      <key>Nfem</key>
      <string>uF8740</string>
      <key>O_F</key>
      <string>uF3810</string>
      <key>O_Idieresis</key>
      <string>uF3870</string>
      <key>O_T</key>
      <string>uF3840</string>
      <key>Omasc</key>
      <string>uF8790</string>
      <key>P_M</key>
      <string>uF4010</string>
      <key>Pmasc</key>
      <string>uF87D0</string>
      <key>Q-queue</key>
      <string>Qqueue</string>
      <key>Qfem</key>
      <string>uF8900</string>
      <key>R_I</key>
      <string>uF4470</string>
      <key>R_S</key>
      <string>uF44C0</string>
      <key>Rfem</key>
      <string>uF8940</string>
      <key>Rmasc</key>
      <string>uF8950</string>
      <key>S_C</key>
      <string>uF4610</string>
      <key>S_L</key>
      <string>uF4660</string>
      <key>S_S</key>
      <string>uF4690</string>
      <key>S_T</key>
      <string>uF46C0</string>
      <key>Sfem</key>
      <string>uF8980</string>
      <key>Smasc</key>
      <string>uF8990</string>
      <key>T_T</key>
      <string>uF4870</string>
      <key>Tfem</key>
      <string>uF89C0</string>
      <key>U_L</key>
      <string>uF5050</string>
      <key>Ufem</key>
      <string>uF8B00</string>
      <key>Umasc</key>
      <string>uF8B10</string>
      <key>Vfem</key>
      <string>uF8B40</string>
      <key>X_C</key>
      <string>uF5610</string>
      <key>X_L</key>
      <string>uF5640</string>
      <key>X_S</key>
      <string>uF56A0</string>
      <key>Xmasc</key>
      <string>uF8BD0</string>
      <key>a-liga</key>
      <string>aliga</string>
      <key>a_e</key>
      <string>uF1110</string>
      <key>a_o</key>
      <string>uF1130</string>
      <key>a_u_l_a</key>
      <string>uF1150</string>
      <key>accolade-bout</key>
      <string>accoladebout</string>
      <key>accolade-bout.001</key>
      <string>accoladebout.001</string>
      <key>afem</key>
      <string>uF8200</string>
      <key>agravefem</key>
      <string>uF8201</string>
      <key>amasc</key>
      <string>uF8210</string>
      <key>asterisks</key>
      <string>uni2051</string>
      <key>asterism</key>
      <string>uni2042</string>
      <key>c_h</key>
      <string>uF1510</string>
      <key>c_q</key>
      <string>uF1540</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cfem</key>
      <string>uF8280</string>
      <key>circumflexbelowcomb</key>
      <string>uni032D</string>
      <key>circumflexbelowcomb.case</key>
      <string>uni032D.case</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>cmasc</key>
      <string>uF8290</string>
      <key>commaaccentcomb</key>
      <string>uni0326</string>
      <key>d_u_d_e_l_a</key>
      <string>uF1730</string>
      <key>dfem</key>
      <string>uF82C0</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dmasc</key>
      <string>uF82D0</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>downArrow</key>
      <string>arrowdown</string>
      <key>e_a</key>
      <string>uF1910</string>
      <key>e_s_s</key>
      <string>uF19E0</string>
      <key>eclat-fleche</key>
      <string>eclatfleche</string>
      <key>efem</key>
      <string>uF8400</string>
      <key>emasc</key>
      <string>uF8410</string>
      <key>enb</key>
      <string>uF1900</string>
      <key>epaule-n</key>
      <string>epaulen</string>
      <key>euro</key>
      <string>Euro</string>
      <key>f-haut</key>
      <string>fhaut</string>
      <key>f_f_enb</key>
      <string>uF2130</string>
      <key>f_v</key>
      <string>uF2150</string>
      <key>ffem</key>
      <string>uF8440</string>
      <key>fmasc</key>
      <string>uF8450</string>
      <key>fut-long</key>
      <string>futlong</string>
      <key>g_u</key>
      <string>uF2310</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetleft.case</key>
      <string>guillemotleft.case</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>guillemetright.case</key>
      <string>guillemotright.case</string>
      <key>heavyasterisk</key>
      <string>uni2731</string>
      <key>hfem</key>
      <string>uF84C0</string>
      <key>hmasc</key>
      <string>uF84D0</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>ifem</key>
      <string>uF8600</string>
      <key>imasc</key>
      <string>uF8610</string>
      <key>l_e</key>
      <string>uF3311</string>
      <key>l_l</key>
      <string>uF3320</string>
      <key>l_u</key>
      <string>uF3350</string>
      <key>leftArrow</key>
      <string>arrowleft</string>
      <key>lfem</key>
      <string>uF86C0</string>
      <key>lmasc</key>
      <string>uF86D0</string>
      <key>lowasterisk</key>
      <string>uni204E</string>
      <key>m_p</key>
      <string>uF3510</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>mfem</key>
      <string>uF8800</string>
      <key>n_n</key>
      <string>uF3740</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nfem</key>
      <string>uF8840</string>
      <key>northEastArrow</key>
      <string>uni2197</string>
      <key>northWestArrow</key>
      <string>uni2196</string>
      <key>o_f</key>
      <string>uF3910</string>
      <key>o_idieresis</key>
      <string>uF3970</string>
      <key>o_t</key>
      <string>uF3940</string>
      <key>omasc</key>
      <string>uF8890</string>
      <key>p_m</key>
      <string>uF4110</string>
      <key>plume-fleche</key>
      <string>plumefleche</string>
      <key>pmasc</key>
      <string>uF88D0</string>
      <key>qfem</key>
      <string>uF8A00</string>
      <key>r_i</key>
      <string>uF4570</string>
      <key>r_s</key>
      <string>uF45C0</string>
      <key>rfem</key>
      <string>uF8A40</string>
      <key>rightArrow</key>
      <string>arrowright</string>
      <key>rmasc</key>
      <string>uF8A50</string>
      <key>s-liga</key>
      <string>sliga</string>
      <key>s_c</key>
      <string>uF4710</string>
      <key>s_l</key>
      <string>uF4760</string>
      <key>s_s</key>
      <string>uF4790</string>
      <key>s_t</key>
      <string>uF47C0</string>
      <key>sfem</key>
      <string>uF8A80</string>
      <key>smasc</key>
      <string>uF8A90</string>
      <key>southEastArrow</key>
      <string>uni2198</string>
      <key>southWestArrow</key>
      <string>uni2199</string>
      <key>t_t</key>
      <string>uF4970</string>
      <key>tfem</key>
      <string>uF8AC0</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>u_l</key>
      <string>uF5150</string>
      <key>ufem</key>
      <string>uF8C00</string>
      <key>umasc</key>
      <string>uF8C10</string>
      <key>uni0000</key>
      <string>NULL</string>
      <key>upArrow</key>
      <string>arrowup</string>
      <key>vfem</key>
      <string>uF8C40</string>
      <key>x_c</key>
      <string>uF5710</string>
      <key>x_l</key>
      <string>uF5740</string>
      <key>x_s</key>
      <string>uF57A0</string>
      <key>xmasc</key>
      <string>uF8CD0</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>.notdef.001</string>
      <string>.notdef.002</string>
      <string>E_S.001</string>
      <string>O_Idieresis.001</string>
      <string>Q-queue</string>
      <string>a-liga</string>
      <string>accolade-bout</string>
      <string>accolade-bout.001</string>
      <string>acutecomb</string>
      <string>acutecomb.case</string>
      <string>barreft</string>
      <string>boutW</string>
      <string>bout_asterisk</string>
      <string>bout_asterisk.001</string>
      <string>bout_ff</string>
      <string>boutk</string>
      <string>boutw</string>
      <string>cedillacomb</string>
      <string>circumflexbelowcomb</string>
      <string>circumflexbelowcomb.case</string>
      <string>circumflexcomb</string>
      <string>circumflexcomb.case</string>
      <string>commaaccentcomb</string>
      <string>dieresiscomb</string>
      <string>dieresiscomb.case</string>
      <string>dotaccentcomb</string>
      <string>dotbelowcomb</string>
      <string>dotbelowcomb.case</string>
      <string>e_s.001</string>
      <string>eclat-fleche</string>
      <string>empattement_bas</string>
      <string>empattement_bas.001</string>
      <string>empattement_bas_long</string>
      <string>empattement_bas_long.001</string>
      <string>empattement_decale</string>
      <string>empattement_decale.001</string>
      <string>empattement_haut</string>
      <string>empattement_haut.001</string>
      <string>empattement_montante</string>
      <string>epaule</string>
      <string>epaule-n</string>
      <string>f-haut</string>
      <string>ffut</string>
      <string>fliga</string>
      <string>fliga2</string>
      <string>fpoint</string>
      <string>fut</string>
      <string>fut-long</string>
      <string>fut_lien</string>
      <string>gravecomb</string>
      <string>gravecomb.case</string>
      <string>hpont</string>
      <string>l_enb.001</string>
      <string>macroncomb</string>
      <string>mi_barre_T</string>
      <string>n_enb.001</string>
      <string>o_idieresis.001</string>
      <string>panse</string>
      <string>panse_adq</string>
      <string>plume-fleche</string>
      <string>point_ij</string>
      <string>pointij</string>
      <string>queueQ</string>
      <string>s-liga</string>
      <string>s_c.001</string>
      <string>s_enb.001</string>
      <string>sectionbout</string>
      <string>t_enb.001</string>
      <string>t_liga</string>
      <string>tildecomb</string>
      <string>tildecomb.case</string>
      <string>w_bout</string>
    </array>
  </dict>
</plist>
